// colors
$blue: #003B7E;
$blue2: #0089CB;
$blue3: #70AEDF;
$blue4: #BADDF6;
$black: #000000;
$white: #ffffff;
$yellow: #F9AE00;
$red: #E52D12;
$grayDark: #707070;
$gray: #CCCCCC;
$grayLight: #E5E5E5;
$graySoft: #F2F2F2;