.container{
  display: grid;
  grid-template-rows: 116px 953px 57px;
  grid-template-columns: 1fr 2fr 5fr 1fr;
  grid-template-areas:
  "header header header header"
  ". sidebar content ."
  "footer footer footer footer" ;
  grid-column-gap: 20px;
}
.header{
  grid-area: header;
}
.sidebar{
  grid-area: sidebar;
}
.content{
  grid-area: content;
}
.footer{
  grid-area: footer;
}
