// media queries
//12.45 Zoll
@mixin desktop {
 @media only screen and (max-width: 1195.2px){
 @content;
 }
}
//Tablet
@mixin tablet {
 @media only screen and (max-width: 1023px){
  @content;
 }
}
//Mobile
@mixin mobile {
 @media only screen and (max-width: 767px){
  @content;
 }
}
// fonts
@mixin dm-sans() {
 font-family: "DM Sans", sans-serif;
 @content;
}
//$font-family-sans-serif: "DM Sans", sans-serif;
//$font-family-poppins: "Poppins", sans-serif;

// colors
$purpleDark: #6C5CE7;
$black: #2D3436;
$white: #ffffff;
$yellowDark: #FDCB6E;
$yellowLight: #FFEAA7;
$grayDark: #5C5C5C;
$gray: #858585;
$grayLight: #ADADAD;
$graySoft: #C2C2C2;

// buttons
@mixin button-1{
 @include dm-sans {
  line-height: (16/14);
  font-weight: 700;
}
 @content;
}